<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="de.innot.avreclipse.templates">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.gif"
            category="de.innot.avreclipse.templates"
            class="de.innot.avreclipse.templates.ui.wizards.SampleNewWizard"
            id="de.innot.avreclipse.templates.ui.wizards.SampleNewWizard">
      </wizard>
   </extension>

</plugin>
