<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="de.innot.avreclipse.debug.core.gdbServer" name="GDBServer" schema="schema/de.innot.avreclipse.debug.GDBServer.exsd"/>
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			delegate="de.innot.avreclipse.debug.core.AVRGDBLaunchDelegate"
			id="de.innot.avreclipse.debug.lcTypeAVRGDBHardware"
			modes="debug"
			name="AVR Hardware Debugging"
			public="true"
			sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
			sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
		</launchConfigurationType>
	</extension>
	
	
	
	
	
 <extension
       point="org.eclipse.debug.core.launchDelegates">
    <launchDelegate
          delegate="de.innot.avreclipse.debug.core.AVRGDBLaunchDelegate"
          id="de.innot.avreclipse.debug.core.AVRGDBLaunchDelegate"
          modes="debug"
          name="AVRGDBLaunchDelegate"
          type="org.eclipse.cdt.debug.gdbjtag.launchConfigurationType">
    </launchDelegate>
 </extension>

</plugin>
