.indent {
	margin-left: 30px;
}
h2 {
	background-color: #CCCCCC;
	font-size: large;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	padding-left: 1em;
}
a {
	text-decoration: none;
}

.sidebar_link {
	font-size: small;
	text-align: left;
}
.id {font-size: xx-small}
.footnote {
	font-size: x-small;
}
p {
	text-align: justify;
}

/* Son of Suckerfish dropdown menu */

#nav, #nav ul {
	float: left;
	width: 100%;
	list-style: none;
	line-height: 2;
	background: #CCCCCC;
	font-weight: bold;
	padding: 0;
	border: solid;
	border-width: 1px 1px 1px 1px;
	margin: 0 0 0 0;
}

#nav a {
	display: block;
	width: 12em;
	text-decoration: none;
	padding: 0.25em 2em;
}


#nav li {
	float: left;
	width: 12em;
	padding: 0;
}

#nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 12em;
	font-weight: normal;
	border-width: 1px;
	margin: 0;
}

#nav li:hover ul, #nav li.sfhover ul {
	background-color:#FFFFFF;
	left: auto;
}

#nav li:hover, #nav li.sfhover {
	background: #eda;
}

