#Sat Aug 07 13:01:50 CEST 2010
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.features=de.innot.avreclipse
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=false
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
