<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>

<!-- 
####################################################################################### 
#    AVR Nature                                                                       # 
####################################################################################### 
-->
 	<extension id="avrnature" name="AVR Nature" point="org.eclipse.core.resources.natures">
       <runtime>
           <run class="de.innot.avreclipse.core.natures.AVRProjectNature" />
       </runtime>
       <requires-nature id="org.eclipse.cdt.core.cnature"/>
   </extension>

<!-- 
####################################################################################### 
#    Content Types                                                                    # 
####################################################################################### 
-->
	<extension
		point="org.eclipse.core.runtime.contentTypes">
		<content-type id="de.innot.avreclipse.contenttype.hexdump.flash"
			base-type="org.eclipse.core.runtime.text"
			file-extensions="hex"
			name="HEX Dump for Flash ROM">
		</content-type>
	</extension>
	<extension
		point="org.eclipse.core.runtime.contentTypes">
		<content-type id="de.innot.avreclipse.contenttype.hexdump.eeprom"
			base-type="org.eclipse.core.runtime.text"
			file-extensions="eep"
			name="HEX Dump for EEPROM">
		</content-type>
	</extension>
	<!--  this does not work because Eclipse is non-case-sensitive, e.g. .s == .S -->
	<extension point="org.eclipse.core.runtime.contentTypes"> 
		<file-association 
	    	content-type="org.eclipse.cdt.core.asmSource"
	       	file-extensions="s,S,asm"/>
	</extension> 

<!-- 
####################################################################################### 
####################################################################################### 
##                                                                                   ##
##   User Interface                                                                  ## 
##                                                                                   ##
####################################################################################### 
####################################################################################### 
-->
<!--
####################################################################################### 
#    Preference Initializer                                                           # 
####################################################################################### 
-->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="de.innot.avreclipse.core.preferences.PreferenceInitializer">
		</initializer>
	</extension>


<!--
####################################################################################### 
#    AVR Plugin Commands                                                              # 
####################################################################################### 
-->

<!--
####################################################################################### 
#    Key Bindings                                                                     # 
####################################################################################### 
-->


<!--
####################################################################################### 
#    Action Sets (Toolbar & Main Menu)                                                # 
####################################################################################### 
-->

<!--
####################################################################################### 
#    Popup Menues (Context Menues)                                                    # 
####################################################################################### 
-->

<!--
####################################################################################### 
#    Preference Pages                                                                 # 
####################################################################################### 
-->

<!--
####################################################################################### 
#    Property Pages                                                                   # 
####################################################################################### 
-->
	
<!--
####################################################################################### 
#    Property Page Tabs                                                               # 
####################################################################################### 
-->

<!--
####################################################################################### 
#    Wizard Pages                                                                     # 
####################################################################################### 
-->



<!--
####################################################################################### 
#    Editors                                                                            # 
####################################################################################### 
-->


<!--
####################################################################################### 
#    Fuses File Document Provider                                                                            # 
####################################################################################### 
-->


<!--
####################################################################################### 
#    Views                                                                            # 
####################################################################################### 
-->

	

<!--
####################################################################################### 
#    ScannerConfigurationDiscoveryProfiles                                            # 
####################################################################################### 
-->
	<!-- C Projects -->

	<!-- C++ Projects -->
 

<!-- 
####################################################################################### 
####################################################################################### 
##                                                                                   ##
##   BuildDef                                                                        ##
##                                                                                   ## 
####################################################################################### 
####################################################################################### 
-->
 





</plugin>
